.home{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div{
    background-color: #f6f6f6;
    height: 832px;
    position: relative;
    width: 1280px;
}

.home text-wrapper{
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 329px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    white-space: nowrap;
    width: 58px;
}

.home text-wrapper2{
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 500px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    white-space: nowrap;
    width: 58px;
}

.home .p{
    color: #000000;
    font-family: "Inter-Black", Helvetica;
    font-size: 48px;
    font-weight: 900;
    left: 77px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 293px;
    width: 463px;
}

.home .rectangle{
    background-color: #d9d9d9;
    height: 284px;
    left: 717px;
    position: absolute;
    top: 281px;
    width: 483px;
}

.home .idiomas-soportados{
    color: #a1a4a0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 717px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 589px;
    width: 483px;
}